.primary-btn,
.secondary-btn {
    position: relative;

    padding: 14px 24px;

    border: 1px solid #111;
    border-radius: 0;

    background: transparent;
    color: #111;

    font-size: 13px;
    letter-spacing: 1px;

    cursor: pointer;

    transition:
            background 0.3s ease,
            color 0.3s ease;
}

/* 矢印 */
.primary-btn::after,
.secondary-btn::after {
    content: "→";
    margin-left: 18px;

    transition: transform 0.3s ease;
}

/* メインボタン */
.primary-btn {
    background: #111;
    color: #fff;
}

/* ホバー */
.primary-btn:hover {
    background: transparent;
    color: #111;
}

.secondary-btn:hover {
    background: #111;
    color: #fff;
}

/* 矢印も動かす */
.primary-btn:hover::after,
.secondary-btn:hover::after {
    transform: translateX(5px);
}