.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}
.hero-content {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 50%;
}

.hero h1 {
    font-size: 30px;
}

.hero p {
    margin: 20px 0;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.hero-image img {
    width: 500px;
    max-width: 100%;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .hero-image img {
        width: 100%;
        max-width: 350px;
    }

    .hero-button {
        justify-content: center;
        flex-wrap: wrap;
    }
}